<form action='/add_definition' method='post'>

  <input id='word_id' name='word_id' type= 'hidden' value="<%= @word.id() %>">

  <div class='form-group'>
    <label for="phrase">Add definition: </label>
    <input type="text" name="phrase" id="phrase" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-outline-primary">Add</button>
</form>

<a href="/">Home</a>
<br>
<a href="/words/<%= @word.id() %>">Go back to "<%= @word.text() %>"</a>
