<div class="container content">
  <div class="row">
    <!-- add new word -->
    <div class="col-md-6">
      <form action='/add_word' method='post'>
        <div class='form-group'>
          <label for="word">Create a word:</label>
          <input type="text" name="word" id="word" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-outline-primary">Add</button>
      </form>
    </div>
  </div>
</div>
